REACT_APP_LOGIN_API_URL=http://localhost:8080/api/login.php
REACT_APP_USERS_API_URL=http://localhost:8080/api/managed-users.php
REACT_APP_SMS_API_URL=http://localhost:8080/api/send-sms.php
REACT_APP_CAPTIVE_REGISTER_URL=http://localhost:8080/api/captive-register.php
REACT_APP_WIFI_CONNECTED_LIST_URL=http://localhost:8080/api/wifi-connected-list.php
REACT_APP_WIFI_SESSION_URL=http://localhost:8080/api/wifi-session.php
